@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div id="fillthis"></div>
<div id="fillthiswithjquery"></div>
<div id="fillthiswithes6lib"></div>

<script src="~/dist/bundle.js"></script>