@model TaskList.DAL.Models.Location

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Edit Location";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">
    <div class="TL-Main">
        <div class="TL-Header">
            <h2>Edit Location</h2>
        </div>
        <div class="TL-Content">
            <input type="hidden" asp-for="LocationId" />
            <input type="hidden" asp-for="ParentId" />
            <div class="TL-Content">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <div><span asp-validation-for="Description" class="text-danger"></span></div>
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
        </div>
        <div class="TL-Footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="List" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>



