@{
    Layout = null;
}

<!-- Required Javascript -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/javascript/main.js"></script>
<script src="~/javascript/bootstrap-table-contextmenu.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Newly Added Required Javascript -->
<script src="~/lib/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>
<script src="~/javascript/ContextMenu.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h1>Tree View Bootstrap</h1>

<div id="tree"></div>

<script>

    function getTree() {

        $.ajax({
            type: 'GET',
            url: '/TreeView/GetTree',
            dataType: "json"
        })
            .done(function (response) {
                $("#tree").treeview({ data: response, showCheckbox: true });

                $('#tree').on('nodeSelected', function (event, data) {
                    // Your logic goes here
                });

                console.log(response);
            })
            .fail(function (response) {
                console.log(response);
            });
    }

    getTree();

</script>

<table id="myTable" class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>

<ul id="contextMenu" class="dropdown-menu" role="menu"
    style="display: none">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
</ul>

<input type="text" class="form-control" id="myMainPageInput" />

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="exampleModalLabel">Modal title</h2>
            </div>
            <div class="modal-body" style="overflow-y: auto">

            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>

    $("#myTable tr").contextMenu({
        menuSelector: "#contextMenu",
        menuSelected: function (invokedOn, selectedMenu) {
            var rowId = invokedOn[0].parentNode.children[0].innerText;
            var msg = "You selected the menu item '" + selectedMenu.text() + "' on the text '" + invokedOn.text() + "'" + ", with the row id of '" + rowId + "'.";
            alert(msg);
        }
    });

    $("#tree").contextMenu({
        menuSelector: "#contextMenu",
        menuSelected: function (invokedOn, selectedMenu) {
            OpenDialogWindow("Edit Task", "/BusinessSetup/Locations/Edit/" + invokedOn.attr("data-nodeid"), 800, 500);
        }
    });

</script>

