@{
    Layout = null;
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Required Javascript -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>

<h1>Tree View Bootstrap</h1>

<div id="tree"></div>

<script>

    function getTree() {

        $.ajax({
            type: 'GET',
            url: '/TreeView/GetTree',
            dataType: "json",
        })
            .done(function (response) {
                $("#tree").treeview({ data: response, showCheckbox: true })

                $('#tree').on('nodeSelected', function (event, data) {
                    // Your logic goes here
                });

                console.log(response);
            })
            .fail(function (response) {
                console.log(response);
            });
    }

    getTree();

</script>

